@model project.net.ViewModels.CreateBookmark

<div>
    @using (Html.BeginForm(
        actionName: "New", 
        controllerName: "Bookmarks",
        method: FormMethod.Post, 
        new {enctype="multipart/form-data"}
    )) {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                @Html.LabelFor(b => b.Bookmark.Title, "Titlu", new { @class = "card-title"})
                <br/>
                @Html.TextBoxFor(b => b.Bookmark.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(b => b.Bookmark.Title, null, new { @class = "text-danger" })
                <br />
                @Html.LabelFor(b => b.Bookmark.Description, "Descriere", new { @class = "card-text"})
                <br/>
                @Html.TextAreaFor(b => b.Bookmark.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(b => b.Bookmark.Description, null, new { @class = "text-danger" })
                <br />
                <div class="form-control">
                    <label asp-for="File">Image</label>
                    <input asp-for="File" class="form-control" accept="image/png, image/gif, image/jpeg" />
                </div>
                @Html.ValidationMessageFor(b => b.File, null, new { @class = "text-danger" })
                <br/>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    }
</div>