@model project.net.Models.Bookmark

<div>
    @using (Html.BeginForm(actionName: "New", controllerName: "Bookmarks", method: FormMethod.Post))
    {
        @Html.LabelFor(b => b.Title, "Titlu Bookmark")
        <br />
        @Html.TextBoxFor(b => b.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(b => b.Title, null, new { @class = "text-danger" })
        <br /><br />
        @Html.LabelFor(b => b.Description, "Descriere")
        <br />
        @Html.TextAreaFor(b => b.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(b => b.Description, null, new { @class = "text-danger" })
        <br /><br />
        <button class="btn btn-success" type="submit">Submit</button>
    }
</div>